
body, html {
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    max-height: 80vh;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.form__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.form__button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form__button:hover {
    background-color: #0056b3;
}

.form__text {
    text-align: center;
    margin-top: 1rem;
}

.form__link {
    color: #007bff;
    text-decoration: none;
}

.form__link:hover {
    text-decoration: underline;
}
